.info.popup .i-buttons button {
  min-height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.i-stat__entry:not(.i-stat__cores) {
  font-size: 0.7rem;
}

.cores-list__level {
  font-size: 1rem;
}
